/Chess_Client/.vs 
/Chess_Client/x64 
/Chess_Client/Debug 
/Chess_Client/Release 
/Chess_Server/.vs 
/Chess_Server/x64 
/Chess_Server/Debug 
/Chess_Server/Release 
/TF_IOCP_SERVER/TF_GAME_CLIENT/.vs
/TF_IOCP_SERVER/TF_GAME_CLIENT/x64
/TF_IOCP_SERVER/TF_IOCP_SERVER/.vs
/TF_IOCP_SERVER/TF_IOCP_SERVER/x64
/STRESS_TEST/.vs
/STRESS_TEST/x64
/x64
*.exe 
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db 

