/Chess_Client/.vs 
/Chess_Client/x64 
/Chess_Client/Debug 
/Chess_Client/Release 
/Chess_Server/.vs 
/Chess_Server/x64 
/Chess_Server/Debug 
/Chess_Server/Release 
/x64
*.exe 
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db 

